<h1>Art Lampa - Все для Вас, любители китайской холявы!</h1>
<p>
    Короткие рассказы про весну
    Рассказы для детей о весне, природе и животных весной.
    Весна! Весна! И всё ей радо!

    Автор: Гоголь Николай Васильевич

    Весна, долго задерживаемая холодами, вдруг началась во всей красе своей, и жизнь заиграла повсюду. Уже голубели пролески, и по свежему изумруду первой зелени желтел одуванчик... Рои мошек и кучи насекомых показались на болотах; за ними вдогон бегал уже водяной паук; а за ним и всякая птица в сухие тростники собралась отовсюду. И все собиралось поближе смотреть друг друга. Вдруг населилась земля, проснулись леса, луга. В деревне пошли хороводы. Гулянью был простор. Что яркости в зелени! Что свежести в воздухе! Что птичьего крику в садах!..
    Весна

    Автор: Толстой Алексей Николаевич

    На солнце нельзя было теперь взглянуть, — лохматыми ослепительными потоками оно лилось с вышины. По синему-синему небу плыли облака, словно кучи снега. Весенние ветерки пахнули свежей травой и птичьими гнездами.

    Перед домом лопнули большие почки на душистых тополях, на припеке стонали куры. В саду, из разогретой земли, протыкая зелеными кочетками догнивающие листья, лезла трава, весь луг подернулся белыми и желтыми звездочками. С каждым днем прибывало птиц в саду. Забегали между стволами черные дрозды — ловкачи ходить пешком. В липах завелась иволга, большая птица, зеленая, с желтой, как золото, подпушкой на крыльях, — суетясь, свистела медовым голосом.

    Как солнцу вставать, на всех крышах и скворечниках просыпались, заливались разными голосами скворцы, хрипели, насвистывали то соловьем, то жаворонком, то какими-то африканскими птицами, которых они наслушались за зиму за морем, — пересмешничали, фальшивили ужасно. Сереньким платочком сквозь прозрачные березы пролетел дятел, садясь на ствол, оборачивался, дыбом поднимал красный хохолок.

    И вот в воскресенье, в солнечное утро, в еше не просохших от росы деревьях, у пруда закуковала кукушка: печальным, одиноким, нежным голосом благословила всех, кто жил в саду, начиная от червяков;

    — Живите, любите, будьте счастливы, ку-ку. А я уж одна проживу ни при чем, ку-ку...

    Весь сад слушал молча кукушку. Божьи коровки, птицы, всегда всем удивленные лягушки, сидевшие на животе, кто на дорожке, кто на ступеньках балкона, — все загадали судьбу. Кукушка куковала, и еше веселее засвистал весь сад, зашумел листьями... Медовым голосом, точно в дудку с водой, свистит иволга. Окно было раскрыто, в комнате пахло травой и свежестью, свет солнца затенен мокрой листвой. Налетел ветерок, и на подоконник упали капли росы... До того было хорошо, проснувшись, слушать свист иволги, глядеть в окно на мокрые листья.
    Короткие рассказы про весну
    Рассказы для детей о весне, природе и животных весной.
    Весна! Весна! И всё ей радо!

    Автор: Гоголь Николай Васильевич

    Весна, долго задерживаемая холодами, вдруг началась во всей красе своей, и жизнь заиграла повсюду. Уже голубели пролески, и по свежему изумруду первой зелени желтел одуванчик... Рои мошек и кучи насекомых показались на болотах; за ними вдогон бегал уже водяной паук; а за ним и всякая птица в сухие тростники собралась отовсюду. И все собиралось поближе смотреть друг друга. Вдруг населилась земля, проснулись леса, луга. В деревне пошли хороводы. Гулянью был простор. Что яркости в зелени! Что свежести в воздухе! Что птичьего крику в садах!..
    Весна

    Автор: Толстой Алексей Николаевич

    На солнце нельзя было теперь взглянуть, — лохматыми ослепительными потоками оно лилось с вышины. По синему-синему небу плыли облака, словно кучи снега. Весенние ветерки пахнули свежей травой и птичьими гнездами.

    Перед домом лопнули большие почки на душистых тополях, на припеке стонали куры. В саду, из разогретой земли, протыкая зелеными кочетками догнивающие листья, лезла трава, весь луг подернулся белыми и желтыми звездочками. С каждым днем прибывало птиц в саду. Забегали между стволами черные дрозды — ловкачи ходить пешком. В липах завелась иволга, большая птица, зеленая, с желтой, как золото, подпушкой на крыльях, — суетясь, свистела медовым голосом.

    Как солнцу вставать, на всех крышах и скворечниках просыпались, заливались разными голосами скворцы, хрипели, насвистывали то соловьем, то жаворонком, то какими-то африканскими птицами, которых они наслушались за зиму за морем, — пересмешничали, фальшивили ужасно. Сереньким платочком сквозь прозрачные березы пролетел дятел, садясь на ствол, оборачивался, дыбом поднимал красный хохолок.

    И вот в воскресенье, в солнечное утро, в еше не просохших от росы деревьях, у пруда закуковала кукушка: печальным, одиноким, нежным голосом благословила всех, кто жил в саду, начиная от червяков;

    — Живите, любите, будьте счастливы, ку-ку. А я уж одна проживу ни при чем, ку-ку...

    Весь сад слушал молча кукушку. Божьи коровки, птицы, всегда всем удивленные лягушки, сидевшие на животе, кто на дорожке, кто на ступеньках балкона, — все загадали судьбу. Кукушка куковала, и еше веселее засвистал весь сад, зашумел листьями... Медовым голосом, точно в дудку с водой, свистит иволга. Окно было раскрыто, в комнате пахло травой и свежестью, свет солнца затенен мокрой листвой. Налетел ветерок, и на подоконник упали капли росы... До того было хорошо, проснувшись, слушать свист иволги, глядеть в окно на мокрые листья.
    Короткие рассказы про весну
    Рассказы для детей о весне, природе и животных весной.
    Весна! Весна! И всё ей радо!

    Автор: Гоголь Николай Васильевич

    Весна, долго задерживаемая холодами, вдруг началась во всей красе своей, и жизнь заиграла повсюду. Уже голубели пролески, и по свежему изумруду первой зелени желтел одуванчик... Рои мошек и кучи насекомых показались на болотах; за ними вдогон бегал уже водяной паук; а за ним и всякая птица в сухие тростники собралась отовсюду. И все собиралось поближе смотреть друг друга. Вдруг населилась земля, проснулись леса, луга. В деревне пошли хороводы. Гулянью был простор. Что яркости в зелени! Что свежести в воздухе! Что птичьего крику в садах!..
    Весна

    Автор: Толстой Алексей Николаевич

    На солнце нельзя было теперь взглянуть, — лохматыми ослепительными потоками оно лилось с вышины. По синему-синему небу плыли облака, словно кучи снега. Весенние ветерки пахнули свежей травой и птичьими гнездами.

    Перед домом лопнули большие почки на душистых тополях, на припеке стонали куры. В саду, из разогретой земли, протыкая зелеными кочетками догнивающие листья, лезла трава, весь луг подернулся белыми и желтыми звездочками. С каждым днем прибывало птиц в саду. Забегали между стволами черные дрозды — ловкачи ходить пешком. В липах завелась иволга, большая птица, зеленая, с желтой, как золото, подпушкой на крыльях, — суетясь, свистела медовым голосом.

    Как солнцу вставать, на всех крышах и скворечниках просыпались, заливались разными голосами скворцы, хрипели, насвистывали то соловьем, то жаворонком, то какими-то африканскими птицами, которых они наслушались за зиму за морем, — пересмешничали, фальшивили ужасно. Сереньким платочком сквозь прозрачные березы пролетел дятел, садясь на ствол, оборачивался, дыбом поднимал красный хохолок.

    И вот в воскресенье, в солнечное утро, в еше не просохших от росы деревьях, у пруда закуковала кукушка: печальным, одиноким, нежным голосом благословила всех, кто жил в саду, начиная от червяков;

    — Живите, любите, будьте счастливы, ку-ку. А я уж одна проживу ни при чем, ку-ку...

    Весь сад слушал молча кукушку. Божьи коровки, птицы, всегда всем удивленные лягушки, сидевшие на животе, кто на дорожке, кто на ступеньках балкона, — все загадали судьбу. Кукушка куковала, и еше веселее засвистал весь сад, зашумел листьями... Медовым голосом, точно в дудку с водой, свистит иволга. Окно было раскрыто, в комнате пахло травой и свежестью, свет солнца затенен мокрой листвой. Налетел ветерок, и на подоконник упали капли росы... До того было хорошо, проснувшись, слушать свист иволги, глядеть в окно на мокрые листья.
    Короткие рассказы про весну
    Рассказы для детей о весне, природе и животных весной.
    Весна! Весна! И всё ей радо!

    Автор: Гоголь Николай Васильевич

    Весна, долго задерживаемая холодами, вдруг началась во всей красе своей, и жизнь заиграла повсюду. Уже голубели пролески, и по свежему изумруду первой зелени желтел одуванчик... Рои мошек и кучи насекомых показались на болотах; за ними вдогон бегал уже водяной паук; а за ним и всякая птица в сухие тростники собралась отовсюду. И все собиралось поближе смотреть друг друга. Вдруг населилась земля, проснулись леса, луга. В деревне пошли хороводы. Гулянью был простор. Что яркости в зелени! Что свежести в воздухе! Что птичьего крику в садах!..
    Весна

    Автор: Толстой Алексей Николаевич

    На солнце нельзя было теперь взглянуть, — лохматыми ослепительными потоками оно лилось с вышины. По синему-синему небу плыли облака, словно кучи снега. Весенние ветерки пахнули свежей травой и птичьими гнездами.

    Перед домом лопнули большие почки на душистых тополях, на припеке стонали куры. В саду, из разогретой земли, протыкая зелеными кочетками догнивающие листья, лезла трава, весь луг подернулся белыми и желтыми звездочками. С каждым днем прибывало птиц в саду. Забегали между стволами черные дрозды — ловкачи ходить пешком. В липах завелась иволга, большая птица, зеленая, с желтой, как золото, подпушкой на крыльях, — суетясь, свистела медовым голосом.

    Как солнцу вставать, на всех крышах и скворечниках просыпались, заливались разными голосами скворцы, хрипели, насвистывали то соловьем, то жаворонком, то какими-то африканскими птицами, которых они наслушались за зиму за морем, — пересмешничали, фальшивили ужасно. Сереньким платочком сквозь прозрачные березы пролетел дятел, садясь на ствол, оборачивался, дыбом поднимал красный хохолок.

    И вот в воскресенье, в солнечное утро, в еше не просохших от росы деревьях, у пруда закуковала кукушка: печальным, одиноким, нежным голосом благословила всех, кто жил в саду, начиная от червяков;

    — Живите, любите, будьте счастливы, ку-ку. А я уж одна проживу ни при чем, ку-ку...

    Весь сад слушал молча кукушку. Божьи коровки, птицы, всегда всем удивленные лягушки, сидевшие на животе, кто на дорожке, кто на ступеньках балкона, — все загадали судьбу. Кукушка куковала, и еше веселее засвистал весь сад, зашумел листьями... Медовым голосом, точно в дудку с водой, свистит иволга. Окно было раскрыто, в комнате пахло травой и свежестью, свет солнца затенен мокрой листвой. Налетел ветерок, и на подоконник упали капли росы... До того было хорошо, проснувшись, слушать свист иволги, глядеть в окно на мокрые листья.
</p>